body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oleo Script', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none
}

header {
    display: flex;
    height: 80px;
    width: 1600px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

footer {
    height: 252px;
    width: 1600px;
    left: 0px;
    top: 2097px;
    border-radius: 0px;
    background-color: #2F303A;
}

p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

h1 {
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    padding: 200px 452px 40px 452px;

}

h2 {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

h3 {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: left;
    color: #212121;
}

a {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: #2196F3;
}

a:focus {
    color: #2196F3;
}

.footer-map {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
}

.footer-contacts {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
}

.webstudio-logo {
    display: flex;
    flex-direction: row;
    height: 31px;
    width: 145px;
}

.header-nav {
    display: flex;
    flex-direction: row;
}

.header-nav-ul {
    display: flex;
    flex-direction: row;
}

.header-contacts {
    display: flex;
    flex-direction: row;
}

.webstudio-link {
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000;
    width: 145;
    height: 31;
}

.bluetext {
    color: #2196F3;
}

.whitetext {
    color: #fff;
}

.Button-section {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
}

.header-nav {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
}

.header-contacts {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #757575;
}

.main-page-button {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    background-color: #2196F3;
    cursor: pointer;
    margin: 30px 700px 200px 700px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px #00000026;
}

.footer-contact-div {
    padding: 60px 1154px 60px 215px;
}

.about-us-section {
    display: flex;
    margin: 94px 215px;
    text-align: justify;
}

.about-us-list {
    display: flex;
    flex-direction: row;
}

.what-we-do-section {
    display: block;
    margin: 94px 215px;
}

.what-we-do-list {
    display: flex;
    flex-direction: row;
}

.what-we-do-item {
    padding-right: 30px;
}

.our-team-section {
    display: block;
    margin: 94px 215px;
}

.our-team-list {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.our-team-item {
    box-shadow: 0px 2px 1px 0px #00000033;
    padding-right: 30px;


}

.our-team-name {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.our-team-job {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}

.portfolio-buttons-div {
    text-align: center;
  
}

.portfolio-button-blue {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    background-color: #2196F3;
    cursor: pointer;
    border-radius: 4px;
}

.portfolio-buttons {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    background-color: #F5F4FA;  
}

.portfolio-list-item {
    display: grid;
    border: 1px solid #EEEEEE;
}